header{
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size:15px;
    font-weight:1;
    padding-bottom:1%;
}

header h1{
    text-align: left;
    font-weight: 1;
    color:teal;
}

header p{
    text-align: right;
    padding-top:2%;
    padding-right:1%;
    color:teal;
}
header p a{
    color:teal;
    text-decoration: none;
}

header nav{
    text-align: right;
    float:right;
    margin-top:-4.5%;
    margin-right:8%;
}

header nav ul li{
    display: inline;
    padding:5%;
    font-weight: bold;
}

header nav ul li a:hover{
    color:white;
    background-color: teal;
}

header nav ul li a{
    text-decoration: none;
    color:teal;
}

body{
    text-align: center;
    font-size: 18px;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 100;
}

#Welcome{
    color:teal;
    text-align: left;
    padding-bottom:-5%;
    display:flex;
    margin-top: 3%;
    justify-content: space-evenly;
    margin:1%;
}

#Welcome img{
    float:right;
    text-align: right;
    margin-top:-5%;
    height:37em;
    width:30em;
}

#Welcome h1{
    font-size: 51px;
    font-weight: 1;
    line-height: 1.5;
}

#Welcome h1,h4{
    margin:27%;
    margin-top:18%;
}

#Welcome h4{
    margin-top:-20%;
    width:60%;
    font-weight: lighter;
}

#Posts h4{
    text-align: left;
    margin-left:15%;
    margin-bottom:auto;
    padding-bottom: 3%;
    padding-right:50%;
}

#Posts input{
    float:right;
    margin-top:-5%;
    margin-right:20%;
    margin-bottom:auto;
    visibility: hidden;
}

#Posts{
    padding-bottom:-17%;
}

#Posts #PostSummary{
    margin-top:-45%;
    display: flex;
    flex-direction: column;
    margin-left:15%;
    width:70%;
}

#Posts #PostSummary a{
    text-decoration: none;
    color:black
    
}

#Posts #PostSummary #Article1{
    border: lightgrey solid 1px ;
    text-align: left;
    margin-bottom:3%;
}

#Posts #PostSummary #Article1 img{
    float:left;
    height:19.5em;
    width:26em;
    padding-right:6%;
}

#Posts #PostSummary #Article1 p{
    padding-left: 4%;
    width:90%;
}

#Posts #PostSummary #Article1 #SummaryTitle{
    font-size: 20px;
}

#Posts #PostSummary #Article1 #Summary{
    padding-bottom: 6%;
}

#Posts #PostSummary #Article1 #postcreated p{
    padding:1%;
}

#Posts #PostSummary #Article1 hr{
    text-align:initial;
    margin-right:5%;
    margin-top:-4%;
}

#Posts #PostSummary #Article2{
    border: lightgrey solid 1px ;
    text-align: left;
    margin-bottom: 3%;
}

#Posts #PostSummary #Article2 img{
    float:left;
    height:19.5em;
    width:26em;
    padding-right:6%;
}

#Posts #PostSummary #Article2 p{
    padding-left: 4%;
    width:90%;
}

#Posts #PostSummary #Article2 #SummaryTitle{
    font-size: 20px;
}

#Posts #PostSummary #Article2 #Summary{
    padding-bottom: 6%;
}

#Posts #PostSummary #Article2 #postcreated p{
    padding:1%;
}

#Posts #PostSummary #Article2 hr{
    text-align:initial;
    margin-right:5%;
    margin-top:-4%;
}



#Posts #PostSummary #Article3{
    border: lightgrey solid 1px ;
    text-align: left;
}

#Posts #PostSummary #Article3 img{
    float:left;
    height:19.5em;
    width:26em;
    padding-right:6%;
}

#Posts #PostSummary #Article3 p{
    padding-left: 4%;
    width:90%;
}

#Posts #PostSummary #Article3 #SummaryTitle{
    font-size: 20px;
}

#Posts #PostSummary #Article3 #Summary{
    padding-bottom: 6%;
}

#Posts #PostSummary #Article3 #postcreated p{
    padding:1%;
}

#Posts #PostSummary #Article3 hr{
    text-align:initial;
    margin-right:5%;
    margin-top:-4%;
}

#Footer{
    padding-top:5%;
}

#Blog{
    margin-top:50%;
}

#BlogPost article{
    width:80%;
    text-align: center;
    margin:auto;
}

#BlogPost article h1{
    font-size: 40px;
}

#BlogPost article h3{
    font-size: 30px;
}

#BlogPost article p{
    line-height: 200%;
}

#Portfolio #Projects h1{
    font-size: 40px;
    text-decoration: underline;
}

#Portfolio #Projects a{
    text-decoration: none;
    color:black;
    font-size: 30px;
}

#Portfolio #Projects a:hover{
    color:white;
    background-color: teal;
}

#About #AboutPage h1{
    font-size: 40px;
}

#About #AboutPage p{
    line-height: 200%;
    font-size: 25px;
    width: 80%;
    margin: auto;
}

#Contact #ContactPage h1{
    font-size:40px;
}

#Contact #ContactPage h3{
    font-size: 30px;
}

#Contact #ContactPage p{
    font-size: 25px;
}
@media only screen and (max-width:425px) {

    body{
        width:auto;
        overflow-x: auto;
    }

    #Footer{
        text-align:center;
        float:none;
        width:auto;
    }

    .scrollbar-hidden::-webkit-scrollbar{
        display:none;
    }



    header{
        font-family: brandon-grotesque, sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size:15px;
        font-weight:1;
        padding-bottom:1%;
    }
    
    header h1{
        text-align: center;
        font-weight: 1;
        color:teal;
    }
    
    header p{
        text-align: none;
        padding-top:2%;
        padding-right:1%;
        color:teal;
    }
    header p a{
        color:teal;
        text-decoration: none;
    }
    
    header nav{
        text-align: center;
        float:none;
        margin-top:0%;
        margin-right:8%;
        width:50%;
        margin-bottom:15%;
    }
    
    header nav ul li{
        display: inline;
        padding:5%;
        font-weight: bold;
    }
    
    header nav ul li a{
        text-decoration: none;
        color:teal;
    }
    
    body{
        text-align: center;
        font-size: 18px;
        font-family: brandon-grotesque, sans-serif;
        font-style: normal;
        font-weight: 100;
    }
    
    #Welcome{
        color:teal;
        text-align: center;
        padding-bottom:-5%;
        display:flex;
        margin-top: 3%;
        justify-content: space-evenly;
        margin:1%;
        width:70%;
    }
    
    #Welcome img{
        float:right;
        text-align: right;
        margin-top:-5%;
        height:37em;
        width:33em;
        display:none;
    }
    
    #Welcome h1{
        font-size: 51px;
        font-weight: 1;
        line-height: 1.5;
        text-align:center;
        width:85%;
        margin-right:20px;
    }
    
    #Welcome h1,h4{
        margin:27%;
        margin-top:18%;
    }
    
    #Welcome h4{
        margin-top:-20%;
        width:60%;
        font-weight: lighter;
        margin-left:43%;
        line-height: 1.5;
    }

    #Posts h4{
        margin-left:20%;
    }

    #HomeFooter {
        margin-left:19%;
    }

    #Posts #PostSummary{
        margin-left:18%;
    }

    #Posts #PostSummary img{
        display: none;
    }

    
}

@media only screen and (max-width:320px) {

    header nav{
        margin-left:-40px;
    }

    #Welcome{
        margin-left:-5%;
    }

    #Posts #PostSummary{
        margin-left:20%;
    }

    #Posts h4{
        margin-left:22%;
    }

    #HomeFooter{
        margin-left: 20%;
    }

    #About #AboutPage p{
        font-size:20px;
    }
    
}

@media only screen and (max-width:375px) {

    header nav{
        margin-left:-5%;
    }

    #Welcome{
        margin-left:-5%;
    }

    #Posts #PostSummary{
        margin-left:20%;
    }

    #Posts h4{
        margin-left:22%;
    }

    #HomeFooter{
        margin-left: 20%;
    }

    #About #AboutPage p{
        font-size:20px;
    }
    
}

@media only screen and (max-width:1024px) {

    body{
        width:auto;
        overflow-x: hidden;
    }

    header nav{
        margin-top:-6%;
        margin-right:11%;
    }

    #Posts #PostSummary{
        color:red;
        width:85%;
    }
    
}

@media only screen and (min-width:2560px) {

    body{
        width:auto;
        overflow-x: hidden;
        font-size:38px;
        
    }

    header{
        font-size: 35px;
    }

    header nav{
        margin-top:-6%;
        margin-right:11%;
    }

    #Welcome h1{
        font-size: 71px;
    }

    #Posts #PostSummary #Article1 #SummaryTitle{
        font-size: 40px;
    }

    #Posts #PostSummary #Article2 #SummaryTitle{
        font-size: 40px;
    }

    #Posts #PostSummary #Article3 #SummaryTitle{
        font-size: 40px;
    }

    #BlogPost article h1{
        font-size: 60px;
    }
    
    #BlogPost article h3{
        font-size: 50px;
    }

    #Portfolio #Projects h1{
        font-size: 60px;
    }
    
    #Portfolio #Projects a{
        
        font-size: 50px;
    }

    #About #AboutPage h1{
        font-size: 60px;
    }
    
    #About #AboutPage p{
        line-height: 200%;
        font-size: 45px;
        width: 80%;
        margin: auto;
    }

    
    #Contact #ContactPage h1{
        font-size:60px;
    }

    #Contact #ContactPage h3{
        font-size: 50px;
    }

    #Contact #ContactPage p{
        font-size: 45px;
    }


    

    #Posts #PostSummary{
        color:red;
        width:85%;
    }
    
}

@media only screen and (max-width:768px) {

    body{
        width:auto;
        overflow: auto;
    }

    header nav{
        text-align: center;
        float: none;
        margin-top:5%;
    }

    header h1{
        text-align: center;
    }

    #Posts{
        margin-left: -5em;
    }

    #Posts #PostSummary{
        width:85%;
    }

    #Posts #PostSummary #Article1 img{
        float:none;
        width:39em;
    }

    #Posts #PostSummary #Article2 img{
        float:none;
        width:39em;
    }

    #Posts #PostSummary #Article3 img{
        float:none;
        width:39em;
    }

    #Welcome img{
        display: none;
    }

    #Welcome{
        text-align: center;
        margin-top:-10%;
        margin-bottom:-20%;
    }

    #Welcome h4{
        width:50%;
        text-align: center;
    }

    
    
}





